@model IEnumerable<ProRecruiter.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.job_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job_discription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.company_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.job_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job_discription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.company_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.job_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.job_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.job_Id })
        </td>
    </tr>
}

</table>
